root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 2
trim_trailing_whitespace = true
continuation_indent_size = 4

[*.java]
indent_size = 4
max_line_length = 120
tab_width = 4
continuation_indent_size = 8

[{*.gant,*.gradle,*.groovy,*.gson,*.gy}]
indent_size = 4
tab_width = 4
continuation_indent_size = 8

[{*.markdown,*.md}]
indent_size = 4
tab_width = 4
continuation_indent_size = 8